$bungee: 'Bungee Inline', cursive;
$twop: 'Press Start 2P', cursive;
$megrim: 'Megrim', cursive;;
$bungeeshade: 'Bungee Shade', cursive;
$primary-color: #000;
$secondary-color: #fff;
$green: #33d399;

body{
    background-color: $primary-color !important;
    color: $secondary-color;
    overflow-y: -webkit-paged-y;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}
// .navbar-brand{
//     font-family: $font-stack !important;
//     font-size: 4em;
//     color: $secondary-color;
//     transition: 1000ms ease;
//     -webkit-transition: 900ms ease;
//     // position: fixed;
// }
// .navbar-brand:focus, .navbar-brand:hover {
//     color: $green;
//     transition: 2000ms ease;
//     -webkit-transition: 900ms ease;
// }
// .navbar {
//   position: fixed;
//   display: -ms-flexbox;
//   display: -webkit-box;
//   left: 0;
//   display: flex;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
//   -ms-flex-align: center;
//   right: 0;
//   -webkit-box-align: center;
//   align-items: center;
//   -ms-flex-pack: justify;
//   -webkit-box-pack: justify;
//   justify-content: space-between;
//   padding: .5rem 1rem;
// }

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  display: flex; 
  margin: auto; 
}
section div{
  text-align: center;
    width: 100%;
}
section div h4{
  margin: 20px;
    font-family: $bungee;
    background: linear-gradient(to bottom, #59ddde 0%, #5e1bb0 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

$colors:#0cc1ce,  #fff,#4d4dff ,#00ff62bd , white ;
$max: length($colors);
$dash: 80;
$dash-gap: 15;
$dash-space: $dash * ($max - 1) + $dash-gap * $max;
$time: 6s;
$time-step: $time/$max;

/* Main styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.text {
  fill: none;
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-dasharray: 150 300;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 6s infinite linear;
    animation: stroke 8s infinite linear;
  
  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) {
      $color: nth($colors, $item);
      stroke: $color;
      -webkit-animation-delay: -($time-step * $item);
      animation-delay: -($time-step * $item);
    }
  }
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

/* Other styles */
html, body {
  height: 100%;
}

body {
  background: #111;
  background-size: .2em 100%;
  font: 5em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
}

svg {
  position: absolute;
    /* width: 100%; */
    top: 10%;
    /* height: 100%; */
    margin: auto;
    left: 0;
}
h3{
  margin: auto; /* Important */ 
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  background: linear-gradient(to right, #59ddde 0%, #5e1bb0 100%);
	-webkit-background-clip: text;
	background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.1em;
 
  // text-transform: capitalize;
  transition: all 500ms ease-in-out;
}
a{
  margin: auto; /* Important */ 
  text-align: center;
  font-family: $twop;
  font-size: 2em;
  color: #fff;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
  text-decoration: none;
}
h3:hover{
  font-size: 1em;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	background-clip: text;
  -webkit-text-fill-color: transparent;
}
.work{
  padding: 20px;;
}
#contact a{
  color:black !important;
  font-family: $megrim;
  font-size: 1em;
}
h5{
  font-family: monospace;
  font-size: 1em;
}
@media only screen and (max-width: 768px) {
  h3 {
    margin: auto;
    text-align: center;
    font-size:60px !important;
}
}

@media only screen and (max-width: 1024px) {
  svg {
    position: absolute;
      /* width: 100%; */
      top: 30%;
      /* height: 100%; */
      margin: auto;
      left: 0;
  }
}
@media only screen and (max-width: 425px) {
  svg {
    position: absolute;
      /* width: 100%; */
      top: 40%;
      /* height: 100%; */
      margin: auto;
      left: 0;
  }
}
  ::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #59ddde 0%, #5e1bb0 100%);
; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #33d399; 
  }
  .modal-dialog{
    top: 20%;
  }
  .modal-content{
    background-color: white !important;
    font-size: .5em;
  }
  .modal-header{
    border-bottom: 0px solid #dee2e6;
  }
  .modal-footer{
    border-top: 0px solid #dee2e6;
  }
  .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
    color: black;
}
.modal-footer .btn{
  background:  #000;
  color: white;
}
.modal-body img{
  height: 80px;
}