$font-stack: 'Monoton', cursive;
$font-stack1: 'Libre Barcode 128 Text', cursive;
$primary-color: #000;
$secondary-color: #fff;
$green: #33d399;

body{
    background-color: $primary-color !important;
    color: $secondary-color;
    overflow-y: -webkit-paged-y;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}
// .navbar-brand{
//     font-family: $font-stack !important;
//     font-size: 4em;
//     color: $secondary-color;
//     transition: 1000ms ease;
//     -webkit-transition: 900ms ease;
//     // position: fixed;
// }
// .navbar-brand:focus, .navbar-brand:hover {
//     color: $green;
//     transition: 2000ms ease;
//     -webkit-transition: 900ms ease;
// }
// .navbar {
//   position: fixed;
//   display: -ms-flexbox;
//   display: -webkit-box;
//   left: 0;
//   display: flex;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
//   -ms-flex-align: center;
//   right: 0;
//   -webkit-box-align: center;
//   align-items: center;
//   -ms-flex-pack: justify;
//   -webkit-box-pack: justify;
//   justify-content: space-between;
//   padding: .5rem 1rem;
// }

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  display: flex; 
  margin: auto; 
}
$colors: #34a555, #E9F1DF, #56D9CD, #00d3ff, white;
$max: length($colors);
$dash: 70;
$dash-gap: 10;
$dash-space: $dash * ($max - 1) + $dash-gap * $max;
$time: 6s;
$time-step: $time/$max;

/* Main styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.text {
  fill: none;
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 6s infinite linear;
    animation: stroke 10s infinite linear;
  
  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) {
      $color: nth($colors, $item);
      stroke: $color;
      -webkit-animation-delay: -($time-step * $item);
      animation-delay: -($time-step * $item);
    }
  }
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

/* Other styles */
html, body {
  height: 100%;
}

body {
  background: #111;
  background-size: .2em 100%;
  font: 5em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
}

svg {
  position: absolute;
    /* width: 100%; */
    top: 0;
    /* height: 100%; */
    margin: auto;
    left: 0;
}
h3{
  margin: auto; /* Important */ 
  text-align: center;
  font-family: $font-stack;
  font-size: 1em;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	background-clip: text;
  -webkit-text-fill-color: transparent;
}
a{
  margin: auto; /* Important */ 
  text-align: center;
  font-family: $font-stack;
  font-size: 2em;
  color: #fff;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
  text-decoration: none
}
h3:hover{
  background: linear-gradient(to right, #59ddde 0%, #5e1bb0 100%);
	-webkit-background-clip: text;
	background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
}

@media only screen and (max-width: 625px) {
  h3 {
    margin: auto;
    text-align: center;
    font-family: "Monoton", cursive;
    font-size:0.5em;
}
}
  ::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #33d399; 
  }
  