@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
body {
  background-color: #000 !important;
  color: #fff;
  overflow-y: -webkit-paged-y;
  -ms-scroll-snap-points-y: repeat(100vh);
      scroll-snap-points-y: repeat(100vh);
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

section div {
  text-align: center;
  width: 100%;
}

section div h4 {
  margin: 20px;
  font-family: "Bungee Inline", cursive;
  background: -webkit-gradient(linear, left top, left bottom, from(#59ddde), to(#5e1bb0));
  background: linear-gradient(to bottom, #59ddde 0%, #5e1bb0 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Main styles */
.text {
  fill: none;
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-dasharray: 150 300;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 8s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #0cc1ce;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}

.text:nth-child(5n + 2) {
  stroke: #fff;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  stroke: #4d4dff;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  stroke: #00ff62bd;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  stroke: white;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -475;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -475;
  }
}

/* Other styles */
html, body {
  height: 100%;
}

body {
  background: #111;
  background-size: .2em 100%;
  font: 5em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
}

svg {
  position: absolute;
  /* width: 100%; */
  top: 10%;
  /* height: 100%; */
  margin: auto;
  left: 0;
}

h3 {
  margin: auto;
  /* Important */
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  background: -webkit-gradient(linear, left top, right top, from(#59ddde), to(#5e1bb0));
  background: linear-gradient(to right, #59ddde 0%, #5e1bb0 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.1em;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

a {
  margin: auto;
  /* Important */
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 2em;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
}

h3:hover {
  font-size: 1em;
  background: -webkit-gradient(linear, left top, right top, from(#30CFD0), to(#330867));
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.work {
  padding: 20px;
}

#contact a {
  color: black !important;
  font-family: "Megrim", cursive;
  font-size: 1em;
}

h5 {
  font-family: monospace;
  font-size: 1em;
}

@media only screen and (max-width: 768px) {
  h3 {
    margin: auto;
    text-align: center;
    font-size: 60px !important;
  }
}

@media only screen and (max-width: 1024px) {
  svg {
    position: absolute;
    /* width: 100%; */
    top: 30%;
    /* height: 100%; */
    margin: auto;
    left: 0;
  }
}

@media only screen and (max-width: 425px) {
  svg {
    position: absolute;
    /* width: 100%; */
    top: 40%;
    /* height: 100%; */
    margin: auto;
    left: 0;
  }
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#59ddde), to(#5e1bb0));
  background: linear-gradient(to bottom, #59ddde 0%, #5e1bb0 100%);
}

::-webkit-scrollbar-thumb:hover {
  background: #33d399;
}

.modal-dialog {
  top: 20%;
}

.modal-content {
  background-color: white !important;
  font-size: .5em;
}

.modal-header {
  border-bottom: 0px solid #dee2e6;
}

.modal-footer {
  border-top: 0px solid #dee2e6;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
  color: black;
}

.modal-footer .btn {
  background: #000;
  color: white;
}

.modal-body img {
  height: 80px;
}
/*# sourceMappingURL=style.css.map */