$bungee: 'Bungee Inline', cursive;
$twop: 'Press Start 2P', cursive;
$megrim: 'Megrim', cursive;;
$bungeeshade: 'Bungee Shade', cursive;
$primary-color: #000;
$secondary-color: #fff;
$green: #33d399;

body{
    background-color: $primary-color !important;
    color: $secondary-color;
    overflow-y: -webkit-paged-y;
    // scroll-snap-points-y: repeat(100vh);
    // scroll-snap-type: y mandatory;
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cube{
  height:50vh;
  text-align: center;
  position: relative;
  // align-self: flex-start;
}
.cube svg{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

$colors:#0cc1ce,  #fff,#4d4dff ,#00ff62bd , white ;
$max: length($colors);
$dash: 80;
$dash-gap: 15;
$dash-space: $dash * ($max - 1) + $dash-gap * $max;
$time: 6s;
$time-step: $time/$max;

/* Main styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.text {
  fill: none;
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-dasharray: 150 300;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 6s infinite linear;
    animation: stroke 8s infinite linear;
  
  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) {
      $color: nth($colors, $item);
      stroke: $color;
      -webkit-animation-delay: -($time-step * $item);
      animation-delay: -($time-step * $item);
    }
  }
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

/* Other styles */
html, body {
  height: 100%;
}

body {
  background: #111;
  background-size: .2em 100%;
  font: 5em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
}

svg {
  position: absolute;
    margin: auto;
    left: 0;
}
h3{
  font-family: $megrim;
  background: linear-gradient(to right, #59ddde 0%, #5e1bb0 100%);
	-webkit-background-clip: text;
	background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: .5em;
  font-weight: bold;
  // text-transform: capitalize;
  transition: all 300ms ease-in-out;
}
a{
  margin: auto; /* Important */ 
  text-align: center;
  font-family: $twop;
  font-size:1em;
  color: #fff;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
  text-decoration: none;
}
h3:hover{
  font-size: .7em;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 300ms ease-in-out;
}
.work{
  padding: 20px;;
}
.work img{
  background: #fff;
  padding: 2px;
}
#contact a{
  // color:black !important;
  font-family: $megrim;
  font-size: 1em;
}
h5{
  font-family: monospace;
  font-size: 1em;
}
  ::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #59ddde 0%, #5e1bb0 100%);
; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #33d399; 
  }
  .modal-dialog{
    top: 20%;
  }
  .modal-content{
    background-color: transparent !important;
    font-size: .5em;
  }
  .modal-header{
    border-bottom: 0px solid #dee2e6;
  }
  .modal-footer{
    border-top: 0px solid #dee2e6;
  }
  .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    /* text-shadow: 0 1px 0 #fff; */
    // opacity: .5;
}
.close:hover{
  color: #fff;
    /* text-shadow: 0 1px 0 #fff; */
    opacity: .5;
}
.modal-footer .btn{
  background:  #000;
  color: white;
}
.modal-body img{
  height: 80px;
}
@media screen and (min-width: 765px) {
  .cube h3{
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}